# Python Virtual Environment
backend/venv/
backend/__pycache__/
backend/*.pyc

# Node Modules (Frontend)
frontend/plant-scanner-ui/node_modules/
frontend/plant-scanner-ui/.pnp
frontend/plant-scanner-ui/.pnp.js

# Environment Variables & OS files
.env
.DS_Store
Thumbs.db
build/